
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 0;
  background-color: #000000; /* Add your desired color here */
}
   
   .fn {
    margin-top: 50px;
    margin-bottom: 50px;
  }
     
     .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
     }
     
     .home-content h2 {
    font-size: 2.5rem; /* Reduced font size */
    color: #f2f1f1;
    margin-bottom: 1rem;
     }
     
    .home-content h4 {
      margin-top: 10px;
      font-size: 1.2rem; /* Further reduced font size */
      color: #f2f1f1;
    }
   .home-content hr{
    
        width: 100%;
        height: 2px;
        
        background: linear-gradient(to right, #ff65bd, #f69b6a);
        border: none;
    
   }
   
   @media (max-width: 767px) {
    .home-content h1 {
      font-size: 2rem;
    }
   
    .home-content p {
      font-size: 1.25rem;
    }
   }
   
   @media (min-width: 768px) and (max-width: 1199px) {
    .home-content h1 {
      font-size: 2.25rem;
    }
   
    .home-content p {
      font-size: 1.4rem;
    }
   }
   
   @media (min-width: 1200px) {
    .home-content h1 {
      font-size: 2.5rem;
    }
   
    .home-content p {
      font-size: 1.5rem;
    }
   }

   .btn_menu {
    background-color: #e00000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 25px;
    border-radius: 0.5rem;
    border-color: azure;
    cursor: pointer;
    font-weight: 700;
    font-size: medium;
    
    transition: background-color 0.3s;
    margin: 30px auto; /* This centers horizontally */
    display: block; /* Needed for margin auto to work */
  }
  
  .btn_menu:hover {
    background-color: #ffffff;
    background: linear-gradient(45deg, #a8a6a6b6, #eeeeee);
    color: #1a1a1a;
    transform: translateY(-2px);
  }